:root {
    --hover-color: #0002;
    --transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --bar-bg: #fffc;
    --blur: blur(16px);
    --shadow: #0002 0 0 8px;
    --height: 40px;
    --bg: #fff;
    --bg2: #fafafa;
    --color: #000;
    --color2: #555;
    --color-w: #fff;
    --border: 1px #000 solid;
    --l-color: #4094ff;
    --h-color: #3a69ff;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    overflow-x: hidden;
}
body {
    margin: 0;
    background-color: var(--bg2);
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
a {
    color: var(--color);
}

select,
button {
    border: none;
}

#bento {
    position: relative;
    background: #0001;
}
#bento > div {
    position: absolute;
    border: #3332 solid 1px;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    & > .title {
        position: absolute;
        left: 2rem;
        top: 2rem;
        font-weight: bold;
        font-size: 2em;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo > :nth-child(2) > * {
    text-align: center;
}

.download {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(var(--l-color), var(--h-color));
    color: white;
    & > :last-child {
        display: flex;
        align-items: center;
        gap: 16px;
        & > select {
            background-color: white;
            color: black;
            padding: 4px;
            border-radius: 4px;
            font-size: 1em;
        }
        & > div {
            display: flex;
            gap: 8px;
            & > a {
                text-decoration: none;
                padding: 16px;
                font-size: 1.8em;
                background-color: white;
                color: var(--l-color);
                border-radius: 100px;
            }
        }
    }
}

.star {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    background: linear-gradient(#222, #000);
    color: white;
}
.star > :nth-child(1) {
    font-size: 100px;
    animation: jump 0.6s infinite alternate;
    text-shadow: 0 0 10px #ff0;
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
        text-shadow: 0 0 16px #ff0;
    }
}

.lang {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & > .slide {
        opacity: 0.6;
    }
    & > a {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 4px;
        border-radius: 4px;
    }
}

.slide {
    width: fit-content;
    animation: slide 10s linear infinite;
    font-size: 2em;
    white-space: pre;
    pointer-events: none;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
