:root {
    --hover-color: #0002;
    --transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --bar-bg: #fffc;
    --blur: blur(16px);
    --shadow: #0002 0 0 8px;
    --height: 40px;
    --bg: #fff;
    --color: #000;
    --color2: #555;
    --border: 1px #000 solid;
    --l-color: #4094ff;
    --h-color: #3a69ff;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body {
    margin: 48px 0 0 0;
}
#nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: var(--bar-bg);
    backdrop-filter: var(--blur);
    top: 0;
    height: 48px;
    z-index: 10;
}
#nav > li {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    transition: var(--transition);
}
#nav > li:hover {
    background-color: var(--hover-color);
}

.main_block {
    /* height: calc(100vh - 48px); */
}

kbd {
    display: inline-block;
    padding: 4px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px #0002;
    transform: rotateX(330deg);
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    font-family: var(--monospace);
    cursor: default;
}
kbd:hover {
    transform: rotateX(30deg) translateY(5px);
    box-shadow: 0 0px #0002;
}
button {
    cursor: pointer;
}

/* 主要 */
#eSearch {
    height: calc(100vh - 48px);
    position: relative;
    overflow: hidden;
    transform: translateY(-10%);
}
#main_left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 16px;
    width: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#svg {
    position: absolute;
    top: 0;
    left: 0;
}
#eSearch h1 {
    margin: 8px;
    font-size: 6rem;
    font-weight: lighter;
}
.main_download_p {
    display: flex;
    align-items: stretch;
}
.main_download_p * {
    background: none;
    transition: var(--transition);
    outline: none;
    border: none;
}
#main_download {
    border-radius: var(--border-radius);
    overflow: hidden;
}
.main_download_p button {
    padding: 16px;
    background-color: var(--l-color);
    color: white;
    font-size: 28px;
}
.main_download_p button:hover {
    background-color: var(--h-color);
}

/* 功能 */
.gn_b {
    height: 1080px;
    padding: 16px;
    box-sizing: border-box;
}
#下载 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pl_Logo {
    width: 100px;
    margin: 8px;
}

#download {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#download > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: var(--bg);
    transition: var(--transition);
    height: calc(100vh - 100px);
}
#download > div:hover {
    width: 40%;
}
#download > div:hover > div {
    width: 50%;
}
#download > div > div {
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#download > div > div div {
    /* border: var(--border); */
    border-radius: var(--border-radius);
    padding: 4px;
    margin: 4px;
    transition: var(--transition);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    background-color: var(--l-color);
}
#download > div > div div:hover {
    background-color: var(--h-color);
}
#download > div > div > a > div > span {
    font-size: 24px;
}
#download a {
    text-decoration: none;
}

#download_old_b {
    cursor: pointer;
}

#log {
    overflow-y: scroll;
    height: calc(100vh - 60px - 48px);
    width: 60%;
}
@media (max-width: 900px) {
}

@media (prefers-color-scheme: dark) {
}
